<ion-view title="Home" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/Rwi4AyKwSkm8n53OmlzF_dots.png" width="100%" height="auto">
        </div>
        <h1 id="home-heading2" style="color:#000000;font-weight:400;text-align:center;">Mood Tracker</h1>
        <div class="spacer" style="width: 279px; height: 0px;"></div>
        <h4 id="home-heading3" style="color:#000000;font-weight:400;text-align:center;">Welcome back, human!</h4>
        <div class="spacer" style="width: 279px; height: 21px;"></div>
        <div id="home-markdown2" style="color:#000000;text-align:center;">
            <p>We hope you're having a great day! If you are, let us know why. Is the sun shining today? Did someone give you free chocolate? Are you allergic to chocolate? Did that make your day bad? Are you a vampire? Please, get comfortable, and tell
                us about yourself. We just want to computationally psychoanalyze you.</p>
        </div>
        <div class="spacer" style="width: 279px; height: 39px;"></div>
        <div style="text-align:center;">
            <img src="img/knwwz4FvTzKyCnywSA2d_Moods.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>
