<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="moodLogCtrl">
        <form class="list" ng-submit="AddMood(data)">
            <label class="item item-select" name="MoodDropdown">
                <span class="input-label">Mood</span>
                <select ng-model="data.newMood" ng-options="item.mood for item in MoodList">
                </select>
            </label>
            <label class="item item-input" name="MoodTrigger">
                <span class="input-label">Mood Trigger</span>
                <input type="text" placeholder="Enter Your Trigger" ng-model="data.newTrigger">
            </label>
            <label class="item item-input" name="MoodComments">
                <span class="input-label">Comments</span>
                <input type="text" placeholder="Enter Your Comments" ng-model="data.newComment">
            </label>
        </form>
        <a ui-sref="tabsController.moodLog" id="home-button1" class="button button-balanced  button-block" type="submit">Submit Mood</a>
    </ion-content>
</ion-view>
