<ion-view title="Log Mood" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="Select Mood">
                <span class="input-label">Mood*</span>
                <select>
                    <option>-Select-</option>
                    <option>Happy</option>
                    <option>Sad</option>
                    <option>Angry</option>
                    <option>Afraid</option>
                </select>
            </label>
            <ion-item class="range range-positive">Range*
                <input type="range" value="5" min="0" max="10">
            </ion-item>
            <label class="item item-input" name="Trigger">
                <span class="input-label">Trigger*</span><textarea placeholder="Enter text"> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Beliefs</span><textarea placeholder="Enter text (optional)"> </textarea>
            </label>
            <label class="item item-input" name="Behavior">
                <span class="input-label">Behavior</span><textarea placeholder="Enter text (optional)"> </textarea>
            </label>
            <label class="item item-input" name="Comments">
                <span class="input-label">Comments</span><textarea placeholder="Enter text (optional)"> </textarea>
            </label>
        </form>
        <div id="logMood-markdown1" style="color:#000000;">
            <p>* Required field</p>
        </div>
        <div class="button-bar">
            <a ui-sref="tabsController.home" id="logMood-button1" class="button button-balanced  button-block">Submit</a>
            <a ui-sref="tabsController.home" id="logMood-button2" class="button button-positive  button-block">Cancel</a>
        </div>
    </ion-content>
</ion-view>