<ion-view title="Mood Log" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <!--  repeat through all the log entries-->
    <div class="logs" ng-repeat='entry in entries'>
    	<!-- display logs-->
    	<p class="log" >
    		{{entry.mood}}, {{entry.range}}, {{entry.trigger}}, {{entry.beliefs}}, {{entry.behavior}}, {{entry.comments}}
    		 <button class="icon ion-gear-a" ng-click="annotateLog(entry)"> + Annotation</button>
    	</p>
    </div>
	</ion-content>

</ion-view>